<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <style>
      body { font-family: Arial, sans-serif; }
      .container { margin: 20px; }
    </style>
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>
      <p>Well done! You scanned <%= goal %> and this earned you <%= goalpoints %> points!</p>
      <p>The total is now <%= total %>, keep going!</p>
    </div>
  </body>
</html>